<div class="container mx-auto px-4 py-8 max-w-2xl">
  <div class="mb-8">
    <div class="flex justify-between items-start">
      <div>
        <h1 class="text-3xl font-bold text-gray-900">Edit Task</h1>
        <% if @task.project %>
          <p class="mt-2 text-gray-600">
            Project: <%= link_to @task.project.title, project_path(@task.project), class: "text-blue-600 hover:text-blue-800" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'form', task: @task %>
</div> 